.light-mode {
  --background-color: white;
  --background-color-btn-second: lightgrey;
  --background-color-btn: black;
  --color: black;
  --color-second: rgb(128, 255, 255);
}

.dark-mode {
  --background-color: black;
  --background-color-btn-second: rgb(44, 44, 44);
  --background-color-btn: rgb(143, 143, 143);
  --color: white;
  --color-second: yellow;
}

.mode {
  background-color: var(--background-color-btn);
  border: 1px solid #91c9ff;
  color: var(--color-second);
  cursor: pointer;
  font-size: 24px;
  font-weight: 200;
  height: 40px;
  outline: none;
  transition: 2s ease-in-out;
  width: 40px;
}

.borderSvg {
  fill: none;
  left: 0;
  position: absolute;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  top: 0;
  transition: 1s ease-in-out;
}

.mode:hover {
  transition: 1s ease-in-out;
  background: rgb(39, 50, 100);
}

.mode:hover svg {
  stroke-dashoffset: -480;
}

.mode span {
  color: #91c9ff;
  font-size: 24px;
  font-weight: 200;
}

.light-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.light-mode .navbar-toggler {
  border-color: rgb(0, 0, 0);
}

.navbar {
  background-color: var(--background-color);
  font-size: 0.9 rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.navbar-brand>img {
  height: 1.8rem;
}

.navbar .navbar-nav li {
  padding-right: 0.6rem;
}

.navbar .navbar-nav .nav-link {
  color: var(--color);
  padding-top: 0.6rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: greenyellow;
}

/*landing*/

.home-inner {
  background-image: url(img/computers.png);
  background-size: contain;
}

.caption h1 {
  font-size: 2 rem;
  font-weight: bold;
  color: white;
}

.caption {
  width: 100%;
  position: absolute;
  top: 40%;
  color: var(--color);
  z-index: 1;
}

#course {
  background-color: var(--background-color-btn-second);
  color: var(--color);
}

/*features*/
.jumbotron {
  background-color: var(--background-color);
  color: var(--color);
  padding-bottom: 0;
  margin-bottom: 0;
}

.features-list {
  list-style: none;
}

.line {
  margin-bottom: 0;
}

/*resources*/
.client {
  width: 90%;
  border-radius: 50%;
  min-width: 15vw;
}


/*team*/
.members h2{
  margin-top: 1vw;
}
.teamMember {
  height: 20vw;
  width: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20%;
  margin: auto;
  box-sizing: border-box;
}

.teamMember.biazar {
  background-image: url(img/reza-biazar.jpg);
}
.teamMember.minakov {
  background-image: url(img/aleksandr-minakov.jpg);
}
.teamMember.dera {
  background-image: url(img/albert-dera.jpg);
}
.teamMember.nackos {
  background-image: url(img/jake-nackos.jpg);
}
.teamMember.koletic {
  background-image: url(img/jurica-koletic.jpg);
}
.teamMember.dwivedi {
  background-image: url(img/swapnil-dwivedi.jpg);
}
.teamMember p {
  height: 20vw;
  width: 20vw;
  color: white;
padding: 2vw;
display: table-cell;
  vertical-align: middle;
  background-color: #000;
border-radius: 20%;
  opacity: 0;
  transition: opacity .5s;
  font-size: 0;
}

.teamMember:hover p{
  opacity: .9;
  font-size: 1rem;
}


.joinUs {

  background-color: black;
  padding: 10px;
 width: 95%;
 min-height: 20vw;
  margin: 0 auto;
  border-radius: 60px;
color: white;
}
.joinUs hr {
  border-color: white;
  width: 95%;
  opacity: .5;
}

.joinUs button {
  background-color:goldenrod;
  border: gold;
  color: black;
}
.joinUs button:hover {
  background-color:white;
  color: black;
}
.joinUs input:focus {
  box-shadow:  0 0 1px 3px goldenrod;
  border: grey;
}
.members h2+p {
  display: none;
}



.clients {
  background-color: var(--background-color);
  color: var(--color);
}


/*contact - footer */
footer,
footer a {
  background-color: var(--background-color);
  color: var(--color);
}

footer a:hover,
footer p,
footer h3 {
  background-color: var(--background-color);
  color: var(--color);
}

footer img {
  height: 3rem;
  margin: 1 rem 0;
}

/* Own @media rule*/
@media screen and (max-width: 767px) {
  .client {
    width: 50%;
  }
  .members h2{
    font-size: 2rem;
  }
  .members h2+p {
    display: block;
    font-size: 1.5rem;
  }
  .teamMember {
    height: 80vw;
    width: 80vw;
  }
  .teamMember:hover p{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 940px) {
  
  .teamMember:hover p{
    opacity: 0;
  }
  .members h2{
    font-size: 1.3rem;
  }
  .members h2+p {
    display: block;
  }
}

@media screen and (min-width: 941px) and (max-width: 1239px) {
 
  .members h2{
    font-size: 1.5rem;
  }

}


@media screen and (min-width: 1240px){
 
  .members h2{
    font-size: 2rem;
  }
  .teamMember:hover p{
    font-size: 1.3rem;
  }
}


/* Brightness slider images*/
.carousel-inner img {
  filter: brightness(35%);
}

@media screen and (max-width: 760px) {
  div.carousel {
    display: none;
  }
}


/*============= SECTION =============*/

/* .narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/